*.pyc
*.pyo
__pycache__/
.*.swp
.idea/
.DS_Store
env/
venv/
src/KCUForms.egg-info/
.eggs/
src/kcuforms/locale/**/kcuforms.mo
build/
dist/
docs/_build
.pytest_cache/
.tox/
.coverage
.coverage.*
htmlcov/
**/*.pyenv*/
